<%- contentFor('body') %>
<div class="aboutBody">
    <h2>CRUD PROJECT ABOUT PAGE</h2>
<p>#PROJECT LEDDIT</p>

    <p style="font-size: 1.2rem;"># Features</p>
    
    <p style="font-size: 1.15rem;">- User Features</p>
    
        - login and logout <br>
            - also allows you to sign up if you dont have a user <br>
        - create servers<br>
            - upload multiple parameters<br>
            - edit all paramerters<br>
            - only admin can edit/delete the server<br>
        - create posts on servers<br>
        - comment on posts on servers<br>
            - can delete your comment<br>
        - up/down vote posts<br>
            - users can only upvote or downvote a post once<br>
            - users can change their vote<br>
        - add servers to a favourite list<br>
            - adds this to the side bar<br>
            - can be edited on the favouite servers tab
    
    
    <p style="font-size: 1.15rem;">- Quality of Life features</p>
        - creating a server puts you on that newly created server<br>
        - favourites being displayed on home page<br>
        - some servers being displayed on home page<br>
        - filter for if you search something wrong<br>
        - displays current user
    
    <p style="font-size: 1.15rem;">- Bugs</p>
     - any logged in user can delete a post<br>
     - any logged in user can delete a comment<br>
     - can only add links as images, and not saved files
</div>

<%- contentFor('aside') %>

