<%- contentFor('body') %>
<h2>TIME TO CREATE</h2>
<% if (locals.errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
<% } %>
<form action="/server/create/set_up" method="post">
    <label for="">What would you like to name your server? </label>
    <input type="text" name="server_name">
    <button>Create Server</button>
</form>

<%- contentFor('aside') %>