<%- contentFor('body') %>
<div class="layoutBody">
    <div class="delete_container">
        <h1>DELETING SERVER</h1>
        <form action="/server/<%= serverName %>" method="get">
            <button class="deleteBtns">GO BACK</button>
        </form>
        <div class="warning">ARE YOU SURE?</div>
        <form action="/server/<%= server %>/delete?_method=delete" method="post">
            <button class="deleteBtns">DELETE</button>
        </form>
    </div>
</div>
<%- contentFor('aside') %>