<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>LEDDIT</title>
</head>
<body>
    <header>
        <div class="left_header" style="display: flex;">
            <img src="../images/LEDDIT.png" alt="img" style="width: 30px; height: 30px;">
            <a href="/"><h3 style="color: red;">LEDDIT</h3>
                <div class="user">Current User:
                    <% if (!currentUser.username) { %>
                        <%= 'Anonymuos' %> 
                    <% } else { %>
                        <%= currentUser.username %>
                    <% } %>
                </div>
            </a>
        </div>
        <form action="/getSearchValue" method="post">
            <input type="text" value="Search LEDDIT" name="search">
            <button>Search</button>
        </form>
        <nav>
            <a href="/about" style="color: rgb(238, 255, 0);">ABOUT</a>
            <a href="/login" style="color: rgb(238, 255, 0);">LOGIN</a>
        </nav>
    </header>

    <div class="container">
        <ul>
            <li><a href="/server/create">CREATE SERVER</a></li>
            <li><a href="/server/favourties">FAVOURITE SERVERS</a></li>
        </ul>
        <div class="body">
            <%- body %>
        </div>
        <aside>
            This is the section that goes aside
        </aside>
    </div>

    <footer>
        footer section
    </footer>
</body>
</html>