<%- contentFor('body') %>
<h2>LOGIN PAGE</h2>

<div class="loggin">

    <% if (locals.errorMessage) { %>
        <p class="error"><%= errorMessage %></p>
    <% } %>

    <p>Login in to be able to create posts, comment, and like other posts</p>
    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>Login</button>
    </form>
    <p>If you dont have an account. Consider signing up below</p>
    <form action="/sign_up" method="post">
        <label for="">Username</label>
        <input type="text" name="text">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>Sign Up</button>
    </form>
</div>

<%- contentFor('aside') %>