<%- contentFor('body') %>
<div class="similar">
    <h2>CRUD PROJECT HOME PAGE</h2>
    <h3>Could not find your server</h3>
    <p>
        Here is a list of servers with similar names <br> 
        If your server is not here, it means it probably doesnt exist. <br> 
        Try searching for another server.
    </p>
    <% for (let server of similar_servers) { %>
        <p style="font-size: 2rem;"><a href="/server/<%= server.name %>"><%= server.name %></a></p>
    <% } %>
</div>




<%- contentFor('aside') %>